<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>Lab</title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Play" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P" />
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>

	

</body>
</html>
