<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign Up</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Play" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body>

<center>
    <div style="width: 100%; margin-top: 3%;">
        <img th:src="@{/images/logo.png}">
    </div>
</center>

<center>
    <div class="sign-up" style="padding-bottom: 5%;" ><br/>
        <h2 style="font-family: Play; color: #fff;">Create a new Account for free</h2>

        <h2 th:if="${param.error}" style="color: #880000;background-color: #9EA2AB;font-family: Play;">User is already exist!! <br/> you have to be a new User</h2>

        <form method="post" th:action="@{/signup}" id="signUpForm">
            <input type="text" name="fullName"  th:required="required" placeholder="Enter your full name"/>

            <input type="email" name="email" required="required" placeholder="Enter your email"/>


            <input type="password" name="password"  th:required="required" placeholder="Enter your Password"/>

            <input type="tel" name="phoneNumber" th:required="required" placeholder="Enter your phone number"/>

            <select name="gender" required="required">
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>

            <input type="text" name="ssn" required="required" placeholder="Enter your social security number"/>

            <input type="text" name="work" required="required" placeholder="Enter your Occupation"><br/><br/>

            <label style="font-family:'Play';  color:#757575; font-size: larger">Birthday</label>
            <input type="date" id="datepicker" required="required" data-position="top" name="bdate" placeholder="bdate"/>

            <select name="city" required="required">
                <option value="amman">Amman</option>
                <option value="zarqa">Zarqa</option>
                <option value="irbid">Irbid</option>
                <option value="aqaba">Aqaba</option>
                <option value="maan">Ma'an</option>
                <option value="karakc">Karak - Creativity club</option>
                <option value="karakm">Karak - Muta university</option>
            </select><br/>


            <label style="font-family:'Play';  color:#757575; font-size: larger">Education</label>
            <select style="width: 50%;" name="education" required="required">
                <option value="none">None</option>
                <option value="university">University student</option>
                <option value="school">School student</option>
            </select>

            <label class="container" style="font-size: 100%;">I have dealt with a programming language before
                <input type="checkbox" name="programmer"/>
                <span class="checkmark"></span>
            </label>

            <div>
                <input type="submit" style="background-color: #161D35; right: 46%" value="Sign up">
            </div>
            <hr>
            <div style="width: 100%;height: 50%; margin-top: 5%;">
                <h4 style="font-family: Play; color: #fff;">Already have an account?</h4>
                <button type="button" style="background-color: #eb1c79; right: 46%;">Login</button>
            </div>

        </form>
    </div>
</center>

</body>
</html>